  <div class="flex w-full flex-wrap items-center justify-between p-3  border-b" style="border-bottom: 1px solid">
    <!-- Collapsible navigation container -->
    <div class="items-center " >
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-white hover:text-white focus:text-white lg:mb-0 lg:mt-0"
        href="/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Bim_%28company%29_logo.svg/1200px-Bim_%28company%29_logo.svg.png"
          alt="BIM Logo"
          class="w-20"
          loading="lazy" />
      </a>
    </div>

    <%= render '/partials/user_card' %>
  </div>
