<nav class="flex-no-wrap relative flex w-full items-center justify-between bg-primary py-2 lg:flex-wrap lg:justify-start lg:py-4">
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Collapsible navigation container -->
    <div class=" hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto" id="navbarSupportedContent1" data-te-collapse-item>
      <!-- Logo -->
      <a
        class="mb-4 ml-2 mr-5 mt-3 flex items-center text-white hover:text-white focus:text-white lg:mb-0 lg:mt-0"
        href="/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Bim_%28company%29_logo.svg/1200px-Bim_%28company%29_logo.svg.png"
          alt="BIM Logo"
          class="w-20"
          loading="lazy" />
      </a>
    </div>

    <%= render '/partials/user_card' %>
  </div>
</nav>
