<% if user_signed_in? %>
  <div class="flex items-center">
    <span class="text-sm">Welcome <span class="font-semibold hover:underline"><%= current_user.name %></span></span>
    <%= link_to "profile", edit_user_registration_path, class: "btn-sm ml-2" %>
  </div>
<% else %>
  <div class="ml-auto">
  <%= link_to "Sign up", new_user_registration_path, class: "btn-sm" %> 
  <%= link_to "Login", new_user_session_path, class: "btn-sm ml-2" %>
  </div>
<% end %>
