@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }

  .bg-black {
    background-color: black;
  }


  .bg-red-600 {
    color: red
  }

  .text-white {
    color: white;
  }

  .border-black {
    border-color: black;
  }
  .text-red-100{
    color: rgb(247, 64, 64);
  }

  .btn-sm {
    @apply inline-block px-2 py-1.5 text-sm font-medium uppercase border rounded-lg transition hover:bg-black hover:text-white hover:border-black text-xs;
  }


  .btn-danger {
    @apply inline-block bg-red-600 px-2 py-1.5 text-sm font-medium uppercase border rounded-lg transition hover:border-black text-xs;
  }
}


img {
  width: 100%;
  height: auto;
}

